@font-face
{
	font-family: 'Raleway';
	src: url('Raleway-Italic-VariableFont_wght.ttf');
	src: url('Raleway-VariableFont_wght.ttf');
}


#bloc_page
{
	width: 80%;
	margin: auto;
	font-family: 'Raleway', Arial, sans-serif;
}
