/* paramètres globaux */
@font-face
{
	font-family: 'Raleway';
	src: url('font/Raleway-VariableFont_wght.ttf') format('trutype');
	font-weight: normal;
	font-style: normal;
}

#bloc_page
{
	width: 60%;
	margin: auto;
	font-family: 'Raleway', Arial, sans-serif;
}

/* en-tête */
header
